@keyframes raise {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
  
#tb1{  
    animation: 1s ease-in-out 0s 1 raise;
	-webkit-animation: 1s ease-in-out 0s 1 raise;
}

#tb3{  
    animation: 1.5s ease-in-out 0s 1 raise;
	-webkit-animation: 1.5s ease-in-out 0s 1 raise;
}

#tb4{  
	animation: 2s ease-in-out 0s 1 raise;
	-webkit-animation: 2s ease-in-out 0s 1 raise;
}

#tb5{  
	animation: 2.5s ease-in-out 0s 1 raise;
	-webkit-animation: 2.5s ease-in-out 0s 1 raise;
}

#tb6{  
	animation: 3s ease-in-out 0s 1 raise;
	-webkit-animation: 3s ease-in-out 0s 1 raise;
}

#tb7{  
	animation: 3.5s ease-in-out 0s 1 raise;
	-webkit-animation: 3.5s ease-in-out 0s 1 raise;
}

#tb8{  
	animation: 4s ease-in-out 0s 1 raise;
	-webkit-animation: 4s ease-in-out 0s 1 raise;
}

#tb9{  
	animation: 4.5s ease-in-out 0s 1 raise;
	-webkit-animation: 4.5s ease-in-out 0s 1 raise;
}

#tb10{  
	animation: 5s ease-in-out 0s 1 raise;
	-webkit-animation: 5s ease-in-out 0s 1 raise;
}

#tb11{  
	animation: 5.5s ease-in-out 0s 1 raise;
	-webkit-animation: 5.5s ease-in-out 0s 1 raise;
}

#tb12{  
	animation: 6s ease-in-out 0s 1 raise;
	-webkit-animation: 6s ease-in-out 0s 1 raise;
}

#tb13{  
	animation: 6.5s ease-in-out 0s 1 raise;
	-webkit-animation: 6.5s ease-in-out 0s 1 raise;
}

#tb14{  
	animation: 7s ease-in-out 0s 1 raise;
	-webkit-animation: 7s ease-in-out 0s 1 raise;
}

#tb15{  
	animation: 7.5s ease-in-out 0s 1 raise;
	-webkit-animation: 7.5s ease-in-out 0s 1 raise;
}