html, body{
    font-family: 'Source Sans Pro', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    /* display: flex; */
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

a:active{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

.nav-link{
    color: black;
}



#social-link{
    color: black;
    align-self: right;
    text-align: right;
    float: right;
    padding: 1rem;
    border-radius: 10%;
    border: 1px solid white;
}

#social-link:hover{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10%;
    transition: color .15s ease-in-out,s background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:hover{
    color: white;
    background-color: black;
}

.container{
    width: 100vw;
    text-align: center;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

#main-nav{
    align-items: center;
    justify-content: center;
    color: black;
    width: 100vw;
    min-width: 100vw;
}

#banner-name{
    font-size: 5rem;
    font-weight: bold;
    color: gold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* width: 100vw;
    min-width: 100vw; */
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

#banner-slogan{
    font-size: 3rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    padding-top: 0rem;
    /* width: 100vw;
    min-width: 100vw; */
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

li{
    display: inline;
    padding: 1rem;
    color: black;
}

.vertical-line{ 
    border-left: 5px black;
    height: 8rem;
  }

  #main-img{
    padding-top: 2rem;
    size: 50%;
    height: 600px;
    max-height: 50%;
  }

 #publications-scrollspy{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 100vw;
    min-width: 100vw;
 }

 #banner-name-windows{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 4rem;
 }

 #banner-slogan-windows{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
 }

 .nav-link:active{
    background-color: black;
    color: white;
 }

 #apropos-container{
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 5rem;
 }

 #apropos-english-container{
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-style: italic;
    margin-top: 8rem;
    margin-left: 4rem;
    margin-right: 4rem;
 }

 header{
    height: 10%;
    position: fixed;
 }

 footer{
    height: 10%;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin-bottom: 1rem;
 }

 .subpage-banner{
    color: gold;
    padding-right: 5rem;
 }

 .subpage-banner:hover{
    background-color: white;
 }

 .all-nav{
    padding-top: 1rem;
 }