html, body{
    font-family: 'Source Sans Pro', sans-serif;
    width: 100vw;
    height: 100vh;
}

a{
    color: black;
}

.nav-link{
    color: black;
}

#social-link{
    color: black;
    align-self: right;
    text-align: right;
    float: right;
    padding: 1rem;
}

#social-link:hover{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10%;
    transition: color .15s ease-in-out,s background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:hover{
    color: white;
    background-color: black;
}

.container{
    width: 100vw;
    text-align: center;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
}

#main-nav{
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: black;
    width: 100vw;
    min-width: 100vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#banner-name{
    font-size: 5rem;
    font-weight: bold;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100vw;
    min-width: 100vw;
}

#banner-slogan{
    font-size: 3rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    padding-top: 0rem;
    width: 100vw;
    min-width: 100vw;
}

li{
    display: inline;
    padding: 1rem;
    color: black;
}
